#Navbar1{background-color: #353b4a !important;}

#Letra1{color:#3a9c02;}

#Img1{opacity: 0.4;}

#Cardoradores1{width: 78rem;}

#Cardbody1{margin-top:24rem; margin-left:49rem; width:37%;}

#Btn1{text-decoration: none; font-size:0.7rem; font-weight:bold; padding:0.2rem; margin-top:2px;}

#Btn2{text-decoration: none; font-size:0.7rem; font-weight:bold; padding:0.2rem; background-color:#44ccc0; color:white;}

#Buttondiv1{margin-top:1rem; margin-bottom:0.00001rem}

#p1{margin-top: 1rem;}

#Card1{background-color: #353b4a !important;}

#Form1{width:45rem; margin:auto}

#Btn3{background-color:#a6e35d; border-color:#a6e35d;}

#Label1{margin:center;}

#Link1{border-bottom: 2px dotted #000; text-decoration: none;}

#Navbar2{background:linear-gradient(90deg,#1e324f,#3c6eb8); padding:1.5rem;}

#Navlink1{color:white;}
